  .wrapperLarge {
    background-image: linear-gradient(
        -60deg,
        var(--mantine-color-blue-4) 0%,
        var(--mantine-color-blue-7) 100%
      );
    background-size: cover;
    background-position: center;
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding: calc(var(--mantine-spacing-xl) * 1.5);
    }
  }
  
  .wrapper {
    padding-top: rem(80px);
    padding-bottom: rem(50px);
  }
  
  .item {
    display: flex;
  }
  
  .itemIcon {
    padding: var(--mantine-spacing-xs);
    margin-right: var(--mantine-spacing-md);
    background-color: rgba(255, 255, 255, 0.349);
  }
  
  .itemTitle {
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  }
  
  .supTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-white);
    letter-spacing: rem(0.5px);
  }
  
  .title {
    line-height: 1;
    text-align: center;
    margin-top: var(--mantine-spacing-xl);
  }
  
  .description {
    text-align: center;
    margin-top: var(--mantine-spacing-xs);
  }
  
  .highlight {
    background-color: var(--mantine-color-blue-7);
    padding: rem(5px);
    padding-top: 0;
    border-radius: var(--mantine-radius-sm);
    display: inline-block;
    color: light-dark(inherit, var(--mantine-color-white));
  }